.navbar_wrapper_section{
    display: flex;
    padding: 10px 20px;

}
.navbar_wrapper_section_left{
    width: 50%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-start;

}
.navbar_wrapper_section_right{
/* background-color: rebeccapurple; */
display: flex;
justify-content: flex-end;
width: 50%;
}
.cross_bt_div{
    background-color: transparent;
}


.nav_links{
    text-decoration: none;
    margin: 0 10px;
    
}
.nav_links_content{
    color: var(--hiight-blue-150);
    text-decoration: none;
    font-size: 1rem;
}

.active-link {
    color: var(--hiight-blue-0);
    /* background-color: white; */
    /* background-color: yellow; */
    /* Add any other styles you want for the active link */
  }


.settings-icon 
{
    height: 1.5rem;
    width: 1.5rem;
}